@model IEnumerable<blogPostTest.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostSummary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostPublished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostUsr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostSummary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostPublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostUsr.UsrId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-info">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PostId" class="btn btn-warning">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PostId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
